@import "tailwindcss";

@font-face {
  font-family: 'Aeroport-black';
  src: url('/fonts/Aeroport-black.woff') format('woff'),
       url('/fonts/Aeroport-black.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Aeroport-medium';
  src: url('/fonts/Aeroport-medium.woff') format('woff'),
       url('/fonts/Aeroport-medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Aeroport-regular';
  src: url('/fonts/Aeroport-regular.woff') format('woff'),
       url('/fonts/Aeroport-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.aer-reg {
  font-family: 'Aeroport-regular', sans-serif;
}
.aer-med {
  font-family: 'Aeroport-medium', sans-serif;
}
.aer-black {
  font-family: 'Aeroport-black', sans-serif;
}

.lh-n {
  line-height: normal;
}